* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

img {
  max-width: 280px;
}

/*=== Layout Containers ===*/

body {
  font-family: "Work Sans", sans-serif;
  color: gray;
  background-color: rgba(0, 0, 0, .03);
  font-weight: lighter;
  line-height: 1.3;
  font-size: .9em;
}

main {
  background-color: white;
  padding-bottom: 50px;
  padding-top: 15px;
}

main, footer, aside, .main-header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-header p {
  padding-left: 10px;
  padding-right: 10px;
}

aside {
  margin-top: 35px;
}

aside div {
  width: 90%;
  margin: auto;
  border-bottom: solid 1px rgba(0,0,0,.20)
}

.footer-wrapper {
  width: 90%;
  margin: auto;
  border-top: solid 1px rgba(0, 0, 0, .2);
  position: relative;
}

/*=== Elements ===*/

ul {
  list-style: none;
  padding-left: 0;
}

header li {
  background-color: white;
}

a {
  text-decoration-line: none;
  color: inherit;
  /* border: solid 1px red; */
}

header li a {
  padding: 7px 70px;
}

h1 {
  font-size: 1.5em;
}

h1, h2, h3 {
  color: rgba(0, 0, 0, .75);
}

h2 {
  font-size: 1.15em;
}

h3 {
  text-transform: uppercase;
  margin: 5px;
  padding: 10px 0;
  font-size: 1em;
  /* border: solid 1px red; */

}

footer {
  margin-top: 50px;
  font-size: 1.1em;
}

footer h3 {
  font-size: .80em;
}

footer .name {
  position: absolute;
  bottom: 0;
  left: 0;
}

.back-top {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-nav {
  margin-left: 15px;
  margin-right: 15px;
}

.contact-footer {
  font-weight: 600;
}

.footer-full-nav {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-img {
  width: 100%;
  max-width: 260px;
}

.portfolio-img {
  width: 100%;
}

.card {
  /* border: solid 1px red; */
  max-width: 260px;
  margin: 0 auto;
  margin-top: 20px;
}

.footer-full-nav,
.footer-wrapper .name,
.back-top h3 {
  margin: 0;
}
/*=== Clearfix ===*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*=== Media Queries ===*/

@media (min-width: 768px) {

  .back-top {
  display: none;
  }

  footer li {
    float: left;
  }

  .footer-full-nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}
